.contact {
  padding: 96rem 0;
  @include mobile {
    padding: 60rem 0;
  }

  &__title {
    color: #f3f4f6;
    text-align: center;
    font-size: 42rem;
    font-weight: 700;
    line-height: 64rem;
    margin-bottom: 24rem;
    span {
      color: $primary-color;
      font-size: 42rem;
    }
  }

  &__info {
    max-width: 685rem;
    color: #9ca3af;
    text-align: center;
    margin-inline: auto;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
    margin-bottom: 56rem;
  }

  &__form {
    display: flex;
    gap: 223rem;
    max-width: 1110rem;
    @include tablet {
      flex-direction: column;
      gap: 60rem;
    }
    @include mobile {
      flex-direction: column;
      gap: 60rem;
    }
  }

  .t_form {
    color: #f3f4f6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 41rem;
    margin-bottom: 16rem;
    span {
      color: $primary-color;
      font-size: 16rem;
    }
  }

  &__form-1 {
    max-width: 347rem;
  }

  &__website {
    margin-bottom: 0;
  }

  &__form-2 {
    width: 50%;
    @include tablet {
      width: 75%;
    }
    @include mobile {
      width: 100%;
    }
  }

  &__name-1 {
    max-width: 350rem;
    flex-shrink: 0;
    margin-bottom: 32rem;
  }

  &__name-2 {
    max-width: 540rem;
    min-height: 166rem;
    flex-shrink: 0;
    margin-bottom: 32rem;
  }

  input[type="text"] {
    width: 100%;
    padding: 12rem 0 12rem 18rem;
    border: 1rem solid #ccc;
    border-radius: 5rem;
    resize: vertical;
    font-size: 16rem;
  }

  input[type="subject"],
  textarea {
    width: 100%;
    padding: 12rem 0 115rem 18rem;
    border: 1rem solid #ccc;
    border-radius: 5rem;
    resize: vertical;
    font-size: 16rem;
  }
}
