.portfolio {
  padding: 96rem 0;

  @include mobile {
    padding: 60rem 0;
    grid-template-rows: repeat(1fr, 5);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }

  &__title {
    color: #f3f4f6;
    text-align: center;
    font-size: 42rem;
    font-weight: 700;
    line-height: 64rem;
    margin-bottom: 24rem;
    span {
      color: $primary-color;
      font-size: 42rem;
    }
  }

  &__info {
    color: #9ca3af;
    max-width: 461rem;
    text-align: center;
    margin-inline: auto;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
    margin-bottom: 80rem;
  }

  &__img {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 4);
    grid-row-gap: 29rem;
    grid-column-gap: 31rem;

    @include tablet {
      grid-template-columns: repeat(1fr, 4);
      grid-template-rows: repeat(1fr, 4);
      grid-column-gap: 0rem;
      grid-row-gap: 20rem;
      justify-items: center;
    }
    @include mobile {
      justify-items: center;
    }
  }

  &__img1 {
    grid-area: 1 / 1 / 5 / 3;
    max-width: 540rem;
    border-radius: 12rem;
    @include tablet {
      grid-area: 1 / 1 / 3 / 5;
      padding: 0 25rem;
    }
    @include mobile {
      grid-area: 1 / 1 / 2 / 2;
      padding: 0;
    }
  }

  &__img2 {
    grid-area: 3 / 3 / 5 / 4;
    max-width: 256rem;
    border-radius: 12rem;
    @include tablet {
      grid-area: 3 / 1 / 4 / 3;
    }
    @include mobile {
      grid-area: 2 / 1 / 3 / 2;
    }
  }
  &__img3 {
    grid-area: 1 / 3 / 3 / 4;
    max-width: 256rem;
    border-radius: 12rem;
    @include tablet {
      grid-area: 3 / 3 / 4 / 5;
    }
    @include mobile {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  &__img4 {
    grid-area: 1 / 4 / 3 / 5;
    max-width: 256rem;
    border-radius: 12rem;
    @include tablet {
      grid-area: 4 / 1 / 5 / 3;
    }
    @include mobile {
      grid-area: 4 / 1 / 5 / 2;
    }
  }

  &__img5 {
    grid-area: 3 / 4 / 5 / 5;
    max-width: 256rem;
    border-radius: 12rem;
    @include tablet {
      grid-area: 4 / 3 / 5 / 5;
    }
    @include mobile {
      grid-area: 5 / 1 / 6 / 2;
    }
  }
}
