.service {
  padding: 96rem 0;
  background: $section-bg;
  @include mobile {
    padding: 60rem 0;
  }

  &__my {
    color: #f3f4f6;
    font-size: 42rem;
    font-weight: 700;
    line-height: 64rem;
    margin-bottom: 24rem;
    span {
      color: $primary-color;
      font-size: 42rem;
    }
  }

  &__text {
    color: #6b7280;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
    margin-bottom: 56rem;
    max-width: 461rem;
  }
 
  &__col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @include tablet {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    @include mobile {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  
  &__digital-img {
    display: flex;
    justify-content: center;
    margin-bottom: 32rem;
  }

  &__digital-info {
    color: #f3f4f6;
    text-align: center;
    font-size: 26rem;
    font-weight: 700;
    line-height: 41rem;
    margin-bottom: 16rem;
  }

  &__digital-text {
    color: #6b7280;
    text-align: center;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
  }

  &__web-img {
    display: flex;
    justify-content: center;
    margin-bottom: 32rem;
  }

  &__web-info {
    color: #f3f4f6;
    text-align: center;
    font-size: 26rem;
    font-weight: 700;
    line-height: 41rem;
    margin-bottom: 16rem;
  }

  &__web-text {
    color: #6b7280;
    text-align: center;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
  }

  &__creative-img {
    display: flex;
    justify-content: center;
    margin-bottom: 32rem;
  }

  &__creative-info {
    color: #f3f4f6;
    text-align: center;
    font-size: 26rem;
    font-weight: 700;
    line-height: 41rem;
    margin-bottom: 16rem;
  }

  &__creative-text {
    color: #6b7280;
    text-align: center;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
  }
}
