.service {
  padding: 96px 0;
  background: $section-bg;
  @include mobile {
    padding: 60px 0;
  }

  &__my {
    color: #f3f4f6;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 24px;
    span {
      color: $primary-color;
    }
  }

  &__text {
    color: #6b7280;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 56px;
    max-width: 461px;
  }
 
  &__col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @include tablet {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    @include mobile {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  
  &__digital-img {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__digital-info {
    color: #f3f4f6;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 16px;
  }

  &__digital-text {
    color: #6b7280;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }

  &__web-img {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__web-info {
    color: #f3f4f6;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 16px;
  }

  &__web-text {
    color: #6b7280;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }

  &__creative-img {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__creative-info {
    color: #f3f4f6;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 16px;
  }

  &__creative-text {
    color: #6b7280;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
}
